<a href="https://colab.research.google.com/github/Rasihha/OpenClassrooms-Data-Analytics-Bootcamp/blob/main/chat_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ChatData

## Sqlite
We are using a file system called **sqlite**. It looks and acts like a real single user relational database (RDB). sqlite3 comes packaged with python. You do not need to install the library. You simply import it (as below).

- We are using Pandas to write and read to sqlite. Pandas will manage a lot of the complexity of dealing with a RDB. There are other ways of reading and writing to a RDB that are VERY common and often used in production systems.  

- The most common other way is to read or write to the RDB row by row. As you can see Pandas puts the entire dataframe into the RDB or extracts a new dataframe from the RDB. These are not row by row operations. These are set operations. Set operations ARE more efficient. However, it is common to use row by row operations to avoid needing large memory computers to hold the dataframes. One row only takes a few bytes. An entire dataframe could be many gigabytes and even petabytes of data. Obviously you will end up with problems with your compute resource if your files are this big. This will not happen to you in this activity and may never happen to you while you are a data analyst. Please just be aware of this.

- This activity is primarily about querying a RDB, so, we are using a simple way that Pandas provides. If you want to learn the more complex way, just google 'reading and wrting to a relational database using python'. There are many resources to learn from.

- The data types that sqlite supports are quite limited. for example, it does not have a DATE type.  This is not a challenge for this project. However, more sophisticated database systems,such as Postgresql, have a large array of data types, such as "DATE", etc. that give those systems additional capability.

- All of the SQL queries could also be performed on the Pandas DataFrames directly.  You may want to try this yourself for comparison (but make sure you do the SQL queries first, as this is an exercise in using SQL!).


## SQL Magic
Within the Jupyter notebook we will be using something called **SQL Magic**.  This provides a convenient way to write SQL queries directly into code cells in the notebook and to read the results back into a Pandas DataFrame.  This makes working with SQL much easier!

Note that you may need to update your sqlite version using `conda update -c anaconda sqlite` in order for the SQL Magic to work correctly.

## The Data Analysis Lifecycle
The sections in this notebook follow the stages of the Data Analysis Lifecycle introduced in an earlier activity.  The stages are:

- Acquire
- Transform
- Organise
- Analyse
- Communicate
- Maintain

The requirements document for this project is Template SQL queries.xlsx.

# Preliminary Steps: Create a Database
First let's import Sqlite and the other libraries we will need.

In [ ]:
# Import Libraries
import numpy as np
import pandas as pd
import sqlite3

### Create the Database
Now we will create the Sqlite database.  Here is some code that does this for you.  We use the `%load_ext` magic command to load the SQL Magic extension and then use `%sql` to connect to the database.

In [ ]:
# If the db does not exist, sqlite will create it.
con = sqlite3.connect('chatdata.db')

# loads sql magic
%load_ext sql

# connects sql magic command to the correct db
%sql sqlite:///chatdata.db

#### Drop the `queries` table if it already exists
The queries table will be our record of the queries created to answer the questions from the requirements spreadsheet.  As we will be running this Jupyter notebook a few times, let's drop (i.e. remove) the queries table so that we start fresh each time.  Here is the code to do this.  We use the `%%sql` magic command to tell Jupyter that we are going to write SQL in the cell.

In [ ]:
%%sql
DROP TABLE IF EXISTS 'queries'

 * sqlite:///chatdata.db
Done.

[]

# Task 1: Load the Data
Now we can start loading the data.  The tables will be created as we load the data.  

Note that some of these files are quite large, so make sure you have plenty of free memory!

## Lifecycle Stages: Transform and Organise
The data has already been processed into 3 clean data files ready for this project:

- queries.csv
- posts.csv
- comments.csv

We will load these files into our database.

## Lifecycle Stage: Acquire
The data can be found in the OpenClassrooms instructions for this activity.

### Google Drive Intergration

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
data_path = "/content/drive/MyDrive/OC/PROJECT 4/Data/"

### Load Comments Data into a `comments` table
Now we will load the data from the csv files into our sqlite database.

First we load the csv file into a Pandas dataframe:

In [ ]:
comments = pd.read_csv(data_path + 'comments.csv')
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

Now take the comments dataframe and push the data into the Sqlite database table called 'comments':

In [ ]:
# load comments into sqlite
comments.to_sql('comments', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM comments'
comments = pd.read_sql(sql, con)
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

### Load Other CSVs
Now that you have seen the code for loading in the comments.csv now do the same to read and write the posts.csv and users.csv to sqlite.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter code in the following cells. Insert as many cells as you want to do this.
    </font></div>

In [ ]:
posts = pd.read_csv(data_path + 'posts.csv')
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,NaN,...,NaN,NaN,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,NaN
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,NaN,...,NaN,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,NaN,NaN
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,NaN,...,NaN,NaN,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,NaN,NaN
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,NaN,...,NaN,NaN,2019-08-24 09:57:01,NaN,NaN,0,0,0,NaN,NaN
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,NaN,...,NaN,2019-08-24 12:13:46,2019-08-24 12:13:46,NaN,NaN,0,1,0,NaN,NaN

In [ ]:
# load posts into sqlite
posts.to_sql('posts', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM posts'
posts = pd.read_sql(sql, con)
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None

In [ ]:
users = pd.read_csv(data_path + 'users.csv')
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,NaN,NaN,NaN,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,NaN,NaN,NaN,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,NaN,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,NaN,NaN,NaN,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,NaN,NaN,NaN,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [ ]:
# load users into sqlite
users.to_sql('users', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM users'
users = pd.read_sql(sql, con)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

### **TODO**: Drop Duplicates
Look for and drop any duplicates in all 3 of the tables (if they exist). Use Pandas to do this. If you find duplicates, you will need to rewrite the table.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter code in the following cells.
    </font></div>

In [ ]:
comments.drop_duplicates()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141
...,...,...,...,...,...,...
49995,791747,424214,1,Agreed. I probably should have done more than ...,2019-08-29 18:59:33,85665
49996,791748,424201,0,Of course cost parameter exists on other ml al...,2019-08-29 19:05:37,35291
49997,791749,203687,0,What's maybe not quite clear from that linked ...,2019-08-29 19:06:35,27340
49998,791752,137072,0,GLMs are fit using iteratively reweighted leas...,2019-08-29 19:25:35,27340
49999,791753,137057,0,GLMs are fit using iteratively reweighted leas...,2019-08-29 19:26:24,27340

In [ ]:
posts.drop_duplicates()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42229,438739,2,0,270897,2019-12-01 03:52:33,0,0,<p>The purpose of the null is to convert a pro...,140300,None,...,None,None,2019-12-01 03:52:33,None,None,0,0,0,None,None
42230,438740,2,0,61144,2019-12-01 04:26:19,0,0,<p>Related question:</p>\n\n<p>If I have the m...,267322,None,...,None,None,2019-12-01 04:26:19,None,None,0,0,0,None,None
42231,438741,1,0,0,2019-12-01 05:00:39,0,3,<p>I am interested in model selection and wond...,206102,None,...,None,None,2019-12-01 05:00:39,Can I do model selection comparing model compu...,<anova><mixed-model><aic>,0,0,0,None,None
42232,438742,2,0,438698,2019-12-01 05:02:44,0,0,"<p>I would vote for ""deterministic algorithms""...",133755,None,...,None,None,2019-12-01 05:02:44,None,None,0,0,0,None,None
42233,438743,2,0,89809,2019-12-01 05:07:09,0,0,<p>You might as well use scale-invariant clust...,241137,None,...,None,None,2019-12-01 05:07:09,None,None,0,0,0,None,None

In [ ]:
users.drop_duplicates()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18407,157530,101,2017-04-16 22:44:35,Narfanar,2019-11-29 12:50:02,None,None,None,1,17,0,https://i.stack.imgur.com/QtTmm.png?s=128&g=1,1071965
18408,157574,161,2017-04-17 08:53:48,Jan,2019-07-14 08:46:32,None,None,None,15,1,0,https://www.gravatar.com/avatar/3c2b2c7b445c04...,5145151
18409,157575,461,2017-04-17 08:58:30,Jeremy Voisey,2019-11-22 05:29:36,http://www.jvoisey.com,Cyprus,"<p>I work for a small school, where I maintain...",47,10,0,https://i.stack.imgur.com/zCfd5.jpg?s=128&g=1,10485220
18410,157584,1,2017-04-17 10:48:14,Siyabonga Mbonambi,2019-06-03 08:59:00,None,None,None,1,0,0,https://www.gravatar.com/avatar/cd488b3037badd...,10355063
18411,157592,11,2017-04-17 12:04:35,BloodThirst,2019-08-07 20:58:14,None,None,None,0,0,0,https://www.gravatar.com/avatar/74fe3ffa031ba9...,9762793

## Review the Data

Spend some time reviewing the data.  Understand what data we have, think about how that data can be used to assist in the initiative of understanding how ChatData is used in the real world.  Is the data organised in a way that would lend itself to being manged in a relational database?  How would the different tables be connected?  What are the primary and foreign keys?  Would this give you a 3NF model?

Also think about security and ethics.  Is there personal data in here?  Could individuals be identified through this data?  It it ethical to use the data in this way?  You will be asked to comment on these questions later!

Use the code below to help you.

In [ ]:
users.columns

Index(['Id', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'ProfileImageUrl', 'AccountId'],
      dtype='object')

In [ ]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [ ]:
comments.columns

Index(['Id', 'PostId', 'Score', 'Text', 'CreationDate', 'UserId'], dtype='object')

In [ ]:
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

In [ ]:
posts.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'ParentId', 'CreationDate',
       'Score', 'ViewCount', 'Body', 'OwnerUserId', 'OwnerDisplayName',
       'LastEditorUserId', 'LastEditorDisplayName', 'LastEditDate',
       'LastActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount',
       'FavoriteCount', 'ClosedDate', 'CommunityOwnedDate'],
      dtype='object')

In [ ]:
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None

# Working with Sqlite and SQL Magic
In this section let's spend a little time understanding a bit more about how we can work with Sqlite within Jupyter.

Let's look at 2 ways to query the sqlite database: using SQL Magic or using Pandas.  Either way is fine for this project.

## Writing queries with SQL Magic

You will now need to write some queries to get answers to the questions in the requirements.  

For single-line queries, start the cell with `%sql` and simply enter your query:

In [ ]:
# This is an example
%sql SELECT COUNT(*) FROM comments

 * sqlite:///chatdata.db
Done.

[(50000,)]

For multi line sql statements use `%%sql` as follows. This tells Jupyter that *everything* in this cell should be interpreted as sql. So, NO comments other statements are allowed:

In [ ]:
%%sql
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5

 * sqlite:///chatdata.db
Done.

[(723182, 385124, 0, '@BenBolker I don\'t understand. The fit cannot be done for the negative $y$. So intuitively I\'d think that in order to retain the relativity of the  ... (24 characters truncated) ... rror" or "flip" it to the positive axis? Would it be possible to adjust every point individually? Basically e.g. take $abs(y_i)$ instead of minimums.'),
 (723183, 385124, 3, "You can't add *less* than (`-min(y)`), but you could add *more*. I'm going to stop answering now sorry, because **judging what the 'best' approach is ... (60 characters truncated) ...  of the analysis, why you need to fit an exponential, your level of computational and statistical sophistication and that of your audience, etc. ...)"),
 (723186, 385137, 0, 'nice. If you felt like doing the work it would be nice to generate an image/contour plot of log-likelihood as a function of (mu, theta) and show the lines corresponding to the two `size` values .'),
 (723187, 385137, 0, 'i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,size=size,log=TRUE)),\n                 xlim=c(2,5),ylim=c(0.2,0.5),\n                 varnames=c("mu","s ... (57 characters truncated) ... ,col="red")\nabline(h=fit.what$theta,col="blue")\n` ... although doesn\'t look this is actually the answer - mu-hat is independent of theta-hat ... ?'),
 (723188, 385134, 0, 'Don\'t you mean "so variance should be $\\sigma^2/(n\\mu^2)$"')]

## Writing queries with Pandas
Another way to write queries is to use pandas:

In [ ]:
sql = """
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5
        """
result = pd.read_sql(sql, con)
result

       Id  PostId  Score                                               Text
0  723182  385124      0  @BenBolker I don't understand. The fit cannot ...
1  723183  385124      3  You can't add *less* than (`-min(y)`), but you...
2  723186  385137      0  nice. If you felt like doing the work it would...
3  723187  385137      0  i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...
4  723188  385134      0  Don't you mean "so variance should be $\sigma^...

# Creating Tables with Referential Integrity

When we loaded the csv files into Sqlite database tables, Sqlite created the tables for us behind the scenes. Let's inspect this a bit more.

We can see how Sqlite created the tables by querying the `sqlite_master` table, which Sqlite uses to keep track of what objects have been created in the database:

In [ ]:
%%sql
select sql from sqlite_master

 * sqlite:///chatdata.db
Done.

[('CREATE TABLE "comments" (\n"Id" INTEGER,\n  "PostId" INTEGER,\n  "Score" INTEGER,\n  "Text" TEXT,\n  "CreationDate" TEXT,\n  "UserId" INTEGER\n)',),
 ('CREATE TABLE "posts" (\n"Id" INTEGER,\n  "PostTypeId" INTEGER,\n  "AcceptedAnswerId" INTEGER,\n  "ParentId" INTEGER,\n  "CreationDate" TEXT,\n  "Scor ... (240 characters truncated) ...   "Tags" TEXT,\n  "AnswerCount" INTEGER,\n  "CommentCount" INTEGER,\n  "FavoriteCount" INTEGER,\n  "ClosedDate" TEXT,\n  "CommunityOwnedDate" TEXT\n)',),
 ('CREATE TABLE "users" (\n"Id" INTEGER,\n  "Reputation" INTEGER,\n  "CreationDate" TEXT,\n  "DisplayName" TEXT,\n  "LastAccessDate" TEXT,\n  "WebsiteUr ... (17 characters truncated) ... tion" TEXT,\n  "AboutMe" TEXT,\n  "Views" INTEGER,\n  "UpVotes" INTEGER,\n  "DownVotes" INTEGER,\n  "ProfileImageUrl" TEXT,\n  "AccountId" INTEGER\n)',)]

The above results show the `CREATE TABLE` statements that could be used by Sqlite to recreate the tables with the exact same structure.

The problem with the CREATE TABLE statements above is that they don't enforce **referential integrity**.  In other words, they don't ensure that every UserId and PostId in the comments table refers to an actual UserId and PostId in the users and posts tables.  At the moment. we can insert any old number here, and even have multiple users with the same Id!  One of the advantages of working with relational databases is that they can enforce the correct uniqueness and relationships in the data, but at the moment we are not using that feature.  So let's fix that...

First, let's drop the original tables:

In [ ]:
%%sql
DROP TABLE comments;
DROP TABLE users;
DROP TABLE posts;

 * sqlite:///chatdata.db
Done.
Done.
Done.

[]

Prove that this worked by selecting the names of the tables back.  We should have no tables:

In [ ]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[]

In Sqlite we need to enable the enforcement of foreign key constraints:

In [ ]:
%%sql
PRAGMA foreign_keys=ON;

 * sqlite:///chatdata.db
Done.

[]

Now recreate the users table with a **primary key constraint** by copying the CREATE TABLE statement from above and adding the NOT NULL PRIMARY KEY clause to the Id:

In [ ]:
%%sql
CREATE TABLE "users" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"Reputation" INTEGER,
"CreationDate" TEXT,
"DisplayName" TEXT,
"LastAccessDate" TEXT,
"WebsiteUrl" TEXT,
"Location" TEXT,
"AboutMe" TEXT,
"Views" INTEGER,
"UpVotes" INTEGER,
"DownVotes" INTEGER,
"ProfileImageUrl" TEXT,
"AccountId" INTEGER
);

 * sqlite:///chatdata.db
Done.

[]

Now do the same for the posts table:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [ ]:
%%sql
CREATE TABLE "posts" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"PostTypeId" INTEGER,
"AcceptedAnswerId" INTEGER,
"ParentId" INTEGER,
"CreationDate" TEXT,
"Score" INTEGER,
"ViewCount" INTEGER,
"Body" TEXT,
"OwnerUserId" INTEGER,
"OwnerDisplayName" TEXT,
"LastEditorUserId" INTEGER,
"LastEditorDisplayName" TEXT,
"LastEditDate" TEXT,
"LastActivityDate" TEXT,
"Title" TEXT,
"Tags" TEXT,
"AnswerCount" INTEGER,
"CommentCount" INTEGER,
"FavoriteCount" INTEGER,
"ClosedDate" TEXT,
"CommunityOwnedDate" TEXT
);

 * sqlite:///chatdata.db
Done.

[]

Now for the comments table.  We need to add the primary key constraint on the id here as we did for users and posts, but we also need to add FOREIGN KEY constraints on the UserId and PostId. Read the documentation here and find our how to do that: https://www.sqlite.org/foreignkeys.html.  Then create the comments table with the correct constraints:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [ ]:
%%sql
CREATE TABLE "comments" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"PostId" INTEGER,
"Score" INTEGER,
"Text" TEXT,
"CreationDate" TEXT,
"UserId" INTEGER,
FOREIGN KEY ("PostId") REFERENCES posts("Id"),
FOREIGN KEY ("UserId") REFERENCES users("Id")
);

 * sqlite:///chatdata.db
Done.

[]

Now we can re-insert the data into these constrained tables.  First users:

In [ ]:
# Insert data into the new users table
users.to_sql('users', con, if_exists='append', index=False)

18412

Now posts:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [ ]:
# Insert data into the new posts table
posts.to_sql('posts', con, if_exists='append', index=False)

42234

Finally comments, which references the users and posts tables:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [ ]:
# Insert data into the new comments table
comments.to_sql('comments', con, if_exists='append', index=False)

50000

Now check that we have the 3 new table definitions in Sqlite:

In [ ]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[('comments',), ('posts',), ('users',)]

We now have all the data in tables in Sqlite and the tables will enforce the referential integrity.

# Example Query and Pattern for Tasks 2 and 3

As you work through the next tasks, you will need to:

1. Prepare the Sqlite query to answer the question
2. Test it
3. Insert it into the `queries` table, so we have a record of it for others.

This is the process that we want you to follow for this project while completing it.

Let's see an example of this by answering the following question:

**Which 5 users have viewed the most times and what is the sum of those views per user?**

## Prepare the Sqlite query

First, let's write the query:

In [ ]:
sql = """
SELECT Id, SUM(Views) AS TotalViews
    FROM Users
        GROUP BY Id
            ORDER BY TotalViews DESC
                LIMIT 5
                """
result = pd.read_sql(sql, con) # con is the connection to the database
result

     Id  TotalViews
0   919       85180
1  4253       35119
2   805       34637
3  7290       32639
4  3277       29255

## Test the query
You can optionally prove the query worked by performing the same query in Pandas:

In [ ]:
results = users.groupby(['Id']).sum().sort_values('Views', ascending = False)[:5]
results['Views']

<ipython-input-36-7b2c47bab8fa>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  results = users.groupby(['Id']).sum().sort_values('Views', ascending = False)[:5]

Id
919     85180
4253    35119
805     34637
7290    32639
3277    29255
Name: Views, dtype: int64

## Insert the query into the `queries` table
Now we need to put this query into the `queries` table in sqlite. Remember we want these queries to be accessible to everybody that should have access to them. We do not want people writing and rewriting the same queires over and over again. The easiest thing to do is create a dictionary with the values and insert these into the queries table.  Note that the values are provided as lists as we are inserting a list of values (i.e. a number of rows) into the table.  In this case the number of rows is 1, so we have lists of 1 item.

So here, we have a column called 'task' with a list of values, a column called 'action' with a list of values, etc.

In [ ]:
query_dict = {
              'task': ['Single Table Queries'],
              'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
              'query': [sql]
             }
query_dict

{'task': ['Single Table Queries'],
 'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
 'query': ['\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                ']}

Now that you have the data structure (query_dict) containing the data, create a pandas dataframe that holds those values:

In [ ]:
queries = pd.DataFrame(query_dict)
queries

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

Now load that pandas dataframe (queries) into the sqlite table called queries. In this case, you use append NOT replace. You will be adding to this tables as you go thru this project.

In [ ]:
# load query into sqlite
queries.to_sql('queries', con, if_exists='append', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)
queries.head()

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

It is likely that as you iterate thru this notebook you will create some duplicate entries in the query table. Not a big deal. Just tell sql or pandas (much easier in pandas) to drop the duplicates! If you drop the duplicates in Pandas you will have to write the entire dataframe back to sqlite. Otherwise it is changed in memory in Pandas but NOT in sqlite on the disk drive (or SDD). Just do this drop at the end of this notebook so that you are not constantly dealing with this.

So, to summarise, as you go through the following tasks you need to:

- answer the question in sql
- prove it in pandas (if you want to)
- put the query into the queries table

# Task 1 (continued): Insert the CREATE TABLE Statements into the `queries` Table

Now that we understand how to populate the `queries` table, let's insert the CREATE TABLE statements into it.  First let's define a function to help us insert into the queries table:

In [ ]:
# Define a function that will insert into the queries table
def store_query(task, action, query):
    query_dict = {
                  'task': [task],
                  'action': [action],
                  'query': [query]
                 }

    # put query into the query_dict
    queries = pd.DataFrame(query_dict)

    # load query into sqlite
    queries.to_sql('queries', con, if_exists='append', index=False)

Now we can specify the queries and call the above function to store them.  The first one is done for you.

In [ ]:
sql = """
    CREATE TABLE "comments" (
    "Id" INTEGER,
    "PostId" INTEGER,
    "Score" INTEGER,
    "Text" TEXT,
    "CreationDate" TEXT,
    "UserId" INTEGER
    )
    """
store_query("Task 1", "Create table comments", sql)

Let's prove it works by selecting back from the queries table:

In [ ]:
# Prove it works
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    ')]

## Insert the other CREATE TABLE statements into the `queries` table.
Follow the above pattern to complete these code cells:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [ ]:
# Insert the CREATE TABLE for posts into the queries table
sql = """
 CREATE TABLE "posts" (
"Id" INTEGER,
"PostTypeId" INTEGER,
"AcceptedAnswerId" INTEGER,
"ParentId" INTEGER,
"CreationDate" TEXT,
"Score" INTEGER,
"ViewCount" INTEGER,
"Body" TEXT,
"OwnerUserId" INTEGER,
"OwnerDisplayName" TEXT,
"LastEditorUserId" INTEGER,
"LastEditorDisplayName" TEXT,
"LastEditDate" TEXT,
"LastActivityDate" TEXT,
"Title" TEXT,
"Tags" TEXT,
"AnswerCount" INTEGER,
"CommentCount" INTEGER,
"FavoriteCount" INTEGER,
"ClosedDate" TEXT,
"CommunityOwnedDate" TEXT
)
    """
store_query("Task 2", "Create table posts", sql)

In [ ]:
# Insert the CREATE TABLE for users into the queries table
sql = """
CREATE TABLE "users" (
"Id" INTEGER,
"Reputation" INTEGER,
"CreationDate" TEXT,
"DisplayName" TEXT,
"LastAccessDate" TEXT,
"WebsiteUrl" TEXT,
"Location" TEXT,
"AboutMe" TEXT,
"Views" INTEGER,
"UpVotes" INTEGER,
"DownVotes" INTEGER,
"ProfileImageUrl" TEXT,
"AccountId" INTEGER
)
 """
store_query("Task 3", "Create table users", sql)

In [ ]:
# Prove it works
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 2', 'Create table posts', '\n CREATE TABLE "posts" (\n"Id" INTEGER,\n"PostTypeId" INTEGER,\n"AcceptedAnswerId" INTEGER,\n"ParentId" INTEGER,\n"CreationDate" TEXT,\n"Score" INTE ... (209 characters truncated) ... EXT,\n"Tags" TEXT,\n"AnswerCount" INTEGER,\n"CommentCount" INTEGER,\n"FavoriteCount" INTEGER,\n"ClosedDate" TEXT,\n"CommunityOwnedDate" TEXT\n)\n    '),
 ('Task 3', 'Create table users', '\nCREATE TABLE "users" (\n"Id" INTEGER,\n"Reputation" INTEGER,\n"CreationDate" TEXT,\n"DisplayName" TEXT,\n"LastAccessDate" TEXT,\n"WebsiteUrl" TEXT,\n"Location" TEXT,\n"AboutMe" TEXT,\n"Views" INTEGER,\n"UpVotes" INTEGER,\n"DownVotes" INTEGER,\n"ProfileImageUrl" TEXT,\n"AccountId" INTEGER\n)\n ')]

## Count the Number of Rows in Each Table
Run some queries to count the number of rows in each of the tables.  Don't forget to insert the query into the queries table.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [ ]:
# Count the number of rows in the comments table
sql= """
SELECT COUNT(*) AS "Number of rows in Comments table" FROM comments
"""
result = pd.read_sql(sql, con)

store_query ("Task 4", "Count number of rows in comments table", sql)

result

   Number of rows in Comments table
0                             50000

In [ ]:
# Count the number of rows in the users table
sql= """
SELECT COUNT(*) AS "Number of rows in Users table" FROM users
"""
result = pd.read_sql(sql, con)

store_query ("Task 5", "Count number of rows in users table", sql)

result

   Number of rows in Users table
0                          18412

In [ ]:
# Count the number of rows in the posts table
sql= """
SELECT COUNT(*) AS "Number of rows in Posts table" FROM posts
"""
result = pd.read_sql(sql, con)

store_query ("Task 6", "Count number of rows in posts table", sql)

result

   Number of rows in Posts table
0                          42234

In [ ]:
#Checking queries have been inserted in query table
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 2', 'Create table posts', '\n CREATE TABLE "posts" (\n"Id" INTEGER,\n"PostTypeId" INTEGER,\n"AcceptedAnswerId" INTEGER,\n"ParentId" INTEGER,\n"CreationDate" TEXT,\n"Score" INTE ... (209 characters truncated) ... EXT,\n"Tags" TEXT,\n"AnswerCount" INTEGER,\n"CommentCount" INTEGER,\n"FavoriteCount" INTEGER,\n"ClosedDate" TEXT,\n"CommunityOwnedDate" TEXT\n)\n    '),
 ('Task 3', 'Create table users', '\nCREATE TABLE "users" (\n"Id" INTEGER,\n"Reputation" INTEGER,\n"CreationDate" TEXT,\n"DisplayName" TEXT,\n"LastAccessDate" TEXT,\n"WebsiteUrl" TEXT,\n"Location" TEXT,\n"AboutMe" TEXT,\n"Views" INTEGER,\n"UpVotes" INTEGER,\n"DownVotes" INTEGER,\n"ProfileImageUrl" TEXT,\n"AccountId" INTEGER\n)\n '),
 ('Task 4', 'Count number of rows in comments table', '\nSELECT COUNT(*) AS "Number of rows in Comments table" FROM comments\n'),
 ('Task 5', 'Count number of rows in users table', '\nSELECT COUNT(*) AS "Number of rows in Users table" FROM users\n'),
 ('Task 6', 'Count number of rows in posts table', '\nSELECT COUNT(*) AS "Number of rows in Posts table" FROM posts\n')]

## Do some Random Checks on the Data
Let's write some queries that select 5 random rows from each table.  The queries are provided here:

    select * from Comments order by random() limit 5;
    select * from Users order by random() limit 5;
    select * from Posts order by random() limit 5;

Enter the queries into the code cells below and insert the queries into the `queries` table in the same was as you did for the CREATE TABLE statements.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [ ]:
# Run the query to select 5 random rows from the posts table
sql = """
SELECT * FROM Posts ORDER BY RANDOM() LIMIT 5
"""
result = pd.read_sql(sql, con)

store_query ("Task 7", "Select 5 random rows from Posts table", sql)

result

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,392888,2,0,391454,2019-02-16 23:11:07,1,0,<p>Considering the size of the Dataset Mention...,223476,None,...,None,2019-02-16 23:59:51,2019-02-16 23:59:51,None,None,0,5,0,None,None
1,403471,2,0,403457,2019-04-16 22:18:20,0,0,<p>In the case of <em>multiple linear regressi...,221478,None,...,None,None,2019-04-16 22:18:20,None,None,0,0,0,None,None
2,436551,1,0,0,2019-11-17 20:56:10,2,36,<p>I would like to find maximum of the followi...,255290,None,...,None,2019-11-17 21:03:22,2019-11-17 21:03:22,Maximization of quotient of quadratic forms in...,<regression><multiple-regression><linear><quad...,0,1,0,None,None
3,432653,2,0,432652,2019-10-22 18:24:49,4,0,<p>You are using the standard normal distribut...,247274,None,...,None,2019-10-22 20:37:02,2019-10-22 20:37:02,None,None,0,8,0,None,None
4,394762,1,394764,0,2019-02-27 19:54:10,1,487,<p>I'd like to understand why my partial depen...,145843,None,...,None,2019-02-27 20:03:04,2019-02-27 20:09:32,Partial dependence plot for glm in r -- why li...,<r><logistic><generalized-linear-model><random...,1,0,0,None,None

In [ ]:
# Run the query to select 5 random rows from the posts comments
sql = """
SELECT * FROM Comments ORDER BY RANDOM() LIMIT 5
"""
result = pd.read_sql(sql, con)

store_query ("Task 8", "Select 5 random rows from Comments table", sql)

result

,Id,PostId,Score,Text,CreationDate,UserId
0,789394,422647,0,"OK, since nothing better apeared 150 reputatio...",2019-08-21 06:11:20,166270
1,767724,411072,0,"Hi Alex, Thank you so much for your answer. Th...",2019-06-01 14:15:01,156280
2,738495,393191,0,https://en.wikipedia.org/wiki/Glivenko%E2%80%9...,2019-02-20 04:48:34,76915
3,735667,391833,0,Assuming that it is perfect oversimplifies the...,2019-02-11 03:58:40,11032
4,785167,420779,0,"Thanks, your answer is very helpful. Given day...",2019-08-06 12:45:22,244425

In [ ]:
# Run the query to select 5 random rows from the users table
sql = """
SELECT * FROM Users ORDER BY RANDOM() LIMIT 5
"""
result = pd.read_sql(sql, con)

store_query ("Task 9", "Select 5 random rows from Users table", sql)

result

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,261829,1,2019-10-06 16:54:04,efwe,2019-10-06 17:33:49,None,None,None,0,0,0,None,16836479
1,174574,183,2017-08-22 23:03:46,aidan.plenert.macdonald,2019-11-14 18:28:30,http://acsweb.ucsd.edu/~amacdona/,"San Diego, CA, United States",<p>I studied physics and computer engineering ...,7,6,0,https://www.gravatar.com/avatar/14663c07f99bd2...,3598239
2,182698,11,2017-10-29 03:53:33,Mete0r1t3,2019-11-06 02:45:10,None,None,None,0,0,0,https://www.gravatar.com/avatar/bff397010b77dd...,6334438
3,74135,33,2015-04-21 14:27:17,Bram Vanden Broecke,2019-03-20 10:55:17,None,Universiteit Antwerpen,<p>PhD student @ University of Antwerp</p>\n,5,3,0,https://graph.facebook.com/10152813377695905/p...,6179312
4,257207,11,2019-08-24 09:29:57,Amber,2019-09-16 01:46:28,None,None,None,2,0,0,https://lh6.googleusercontent.com/-NZRsNRnBr_A...,16566355

# Task 2: Create Single Table Queries

## Lifecycle Stage: Analyze
We can now start the analysis with our single-table queries.  First we need to create a new computed column to help with one of the queries.  The code below creates a column called LEN_BODY which is the length of the BODY text:

In [ ]:
%%sql
ALTER TABLE POSTS ADD COLUMN LEN_BODY INT

 * sqlite:///chatdata.db
Done.

[]

In [ ]:
%%sql
UPDATE POSTS SET LEN_BODY = LENGTH(BODY)

 * sqlite:///chatdata.db
42234 rows affected.

[]

In [ ]:
# %sql SELECT * FROM posts - why doesn't work ? (is it because jupiter runs in python so we first need to connect to  sqlite and use pandas to run the sql?)
sql = 'SELECT * FROM posts'

pd.read_sql(sql, con)

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate,LEN_BODY
0,385136,1,0,0,2019-01-01 00:16:33,0,89,<p>I'm currently doing A-level Further Maths A...,222821,None,...,2019-01-02 11:39:27,2019-01-02 11:39:27,Difference between pooled variance equations,<variance><pooling>,1,0,0,None,None,1348.0
1,385137,2,0,384932,2019-01-01 00:17:09,1,0,<p>You are forgetting that <code>glm.nb</code>...,129321,None,...,2019-01-01 00:58:48,2019-01-01 00:58:48,None,None,0,2,0,None,None,2162.0
2,385138,2,0,384678,2019-01-01 01:29:22,2,0,"<p>Yes, you are quite right. When we write the...",129321,None,...,2019-01-13 01:36:32,2019-01-13 01:36:32,None,None,0,0,0,None,None,1735.0
3,385139,2,0,322831,2019-01-01 01:30:22,4,0,"<p>Question 1 is straightforward, here <span c...",110943,None,...,None,2019-01-01 01:30:22,None,None,0,0,0,None,None,2265.0
4,385141,1,385150,0,2019-01-01 02:50:26,1,187,<p>Suppose we have a random sample <span class...,161381,None,...,2019-02-10 23:22:49,2019-02-10 23:22:49,Finding the MVUE from two independent random s...,<mathematical-statistics><inference><informati...,1,2,1,None,None,1300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42229,438739,2,0,270897,2019-12-01 03:52:33,0,0,<p>The purpose of the null is to convert a pro...,140300,None,...,None,2019-12-01 03:52:33,None,None,0,0,0,None,None,5100.0
42230,438740,2,0,61144,2019-12-01 04:26:19,0,0,<p>Related question:</p>\n\n<p>If I have the m...,267322,None,...,None,2019-12-01 04:26:19,None,None,0,0,0,None,None,307.0
42231,438741,1,0,0,2019-12-01 05:00:39,0,3,<p>I am interested in model selection and wond...,206102,None,...,None,2019-12-01 05:00:39,Can I do model selection comparing model compu...,<anova><mixed-model><aic>,0,0,0,None,None,174.0
42232,438742,2,0,438698,2019-12-01 05:02:44,0,0,"<p>I would vote for ""deterministic algorithms""...",133755,None,...,None,2019-12-01 05:02:44,None,None,0,0,0,None,None,116.0
42233,438743,2,0,89809,2019-12-01 05:07:09,0,0,<p>You might as well use scale-invariant clust...,241137,None,...,None,2019-12-01 05:07:09,None,None,0,0,0,None,None,224.0

### Single Table Queries
From the Template SQL Queries there are a series of queries requested. You are responsible for coding the result. Use the pattern above to accomplish the coding objective.  Copy and paste the question (column B Action) into a markdown cell and answer the query. Use the pattern that you have been using above.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter your code below.  Just keep on inserting cells as you need them.
    </font></div>

How many posts have 0 comments?

In [ ]:
%%sql
SELECT COUNT(*) AS 'Number of Posts with 0 Comments'
FROM posts
WHERE CommentCount = 0

 * sqlite:///chatdata.db
Done.

[(21713,)]

How many posts have 1 comment?

In [ ]:
%%sql
SELECT COUNT(*) AS 'Number of Posts with 1 Comments'
FROM posts
WHERE CommentCount = 1

 * sqlite:///chatdata.db
Done.

[(6460,)]

How many posts have 2 comments or more?

In [ ]:
%%sql
SELECT COUNT(*) AS 'Number of Posts with 2 or more Comments'
FROM posts
WHERE CommentCount >= 2

 * sqlite:///chatdata.db
Done.

[(14061,)]

Find the 5 posts with the highest viewcount

In [ ]:
#how do i not display all of body column?
%%sql
SELECT *
FROM posts
ORDER BY ViewCount DESC
LIMIT 5

 * sqlite:///chatdata.db
Done.

[(388566, 1, 388582, 0, '2019-01-22 15:16:47', 56, 19542, '<ul>\n<li>Statement One (S1): "One in 80 deaths is caused by a car accident."</li>\n<li>Statement Two (S2): "One in 80 people dies as a result of a c ... (2000 characters truncated) ...  interpretation (their default for S2 is a much stronger assumption), or if they have some innate statistical sense that I\'m in fact lacking. </p>\n', 228214, None, 164061, None, '2019-01-22 21:40:39', '2019-01-24 17:09:47', 'Is it wrong to rephrase "1 in 80 deaths is caused by a car accident" as "1 in 80 people die as a result of a car accident?"', '<interpretation><risk>', 9, 15, 15, None, None, 2270),
 (394118, 1, 394128, 0, '2019-02-24 14:07:11', 64, 16317, '<p>A human child at age 2 needs around 5 instances of a car to be able to identify it with reasonable accuracy regardless of color, make, etc. When m ... (217 characters truncated) ... >What is it that artificial neural networks are missing that prevent them from being able to learn way quicker? Is transfer learning an answer?</p>\n', 107213, None, 7291, None, '2019-02-25 22:40:22', '2019-03-03 17:37:05', 'Why do neural networks need so many training examples to perform?', '<neural-networks><neuroscience>', 12, 24, 38, None, None, 512),
 (431370, 1, 431397, 0, '2019-10-14 11:29:21', 77, 11723, '<p>It seems very counter intuitive to many people that a given diagnostic test with very high accuracy (say 99%) can generate massively more false po ... (520 characters truncated) ... lp me explain it to a lay person.</p>\n\n<p>Apologies if this is the wrong forum to ask this. If so please direct me to a more appropriate one.</p>\n', 262594, None, 11887, None, '2019-11-28 01:44:34', '2019-11-28 01:44:34', 'Is there a name for the phenomenon of false positives counterintuitively outstripping true positives', '<probability><terminology><intuition>', 8, 9, 18, None, None, 811),
 (398646, 1, 398653, 0, '2019-03-21 01:19:52', 61, 9850, '<p>The title of the Comment in Nature <a href="https://www.nature.com/articles/d41586-019-00857-9" rel="noreferrer">Scientists rise up against statis ... (1880 characters truncated) ... pft.jpg" rel="noreferrer"><img src="https://i.stack.imgur.com/tgpft.jpg" alt="Nature: Scientists rise up against statistical significance"></a></p>\n', 163067, None, 163067, None, '2019-03-22 22:14:04', '2019-03-30 19:35:27', 'What does "Scientists rise up against statistical significance" mean? (Comment in Nature)', '<statistical-significance><p-value><bias>', 10, 7, 34, None, None, 2148),
 (434128, 1, 434579, 0, '2019-11-01 13:07:36', 73, 6718, '<p>I am designing a one year program in data analysis with a local community college. The program aims to prepare students to handle basic tasks in d ... (891 characters truncated) ... ur in the area of variable selection and sampling design. I\'m interested in paradoxes that occur in other areas -- like the analysis as such. </p>\n', 14188, None, 0, None, None, '2019-11-26 00:59:15', 'Famous statistical wins and horror stories for teaching purposes', '<mathematical-statistics><data-visualization><experiment-design><teaching>', 13, 7, 70, None, '2019-11-01 15:12:41', 1172)]

Find the top 5 posts with the highest scores

In [ ]:
%%sql
SELECT *
FROM posts
ORDER BY Score DESC
LIMIT 5

 * sqlite:///chatdata.db
Done.

[(431397, 2, 0, 431370, '2019-10-14 14:29:36', 101, 0, '<p>Yes there is. Generally it is termed <strong>base rate fallacy</strong> or more specific <strong>false positive paradox</strong>. There is even a wikipedia article about it: <a href="https://en.wikipedia.org/wiki/Base_rate_fallacy" rel="noreferrer">see here</a></p>\n', 142976, None, 0, None, None, '2019-10-14 14:29:36', None, None, 0, 0, 0, None, None, 269),
 (394128, 2, 0, 394118, '2019-02-24 15:44:44', 100, 0, '<p>I caution against expecting strong resemblance between biological and artificial neural networks. I think the name "neural networks" is a bit dang ... (5584 characters truncated) ... l volume, diversity and resolution of the training data.</p>\n\n<p>*We don\'t presently have a tags for one-shot learning or few-shot learning.</p>\n', 22311, None, 22311, None, '2019-03-03 17:37:05', '2019-03-03 17:37:05', None, None, 0, 15, 0, None, None, 5829),
 (426878, 2, 0, 426873, '2019-09-11 23:23:31', 93, 0, '<p><strong>tl;dr</strong> Even though this is an image classification dataset, it remains a <strong>very easy</strong> task, for which one can easily ... (4424 characters truncated) ... and out more\n    frame1 = plt.gca()\n    frame1.axes.get_xaxis().set_visible(False)\n    frame1.axes.get_yaxis().set_visible(False)\n</code></pre>\n', 119015, None, 119015, None, '2019-09-13 14:02:28', '2019-09-13 14:02:28', None, None, 0, 6, 0, None, None, 4627),
 (388578, 2, 0, 388566, '2019-01-22 15:48:47', 80, 0, '<p>To me "1 in 80 deaths..." is by far the clearer statement.  The denominator in your "1 in 80" is the set of all death events and that statement ma ... (282 characters truncated) ... rence set in probability or frequency assertions like this. If you\'re talking about the proportion of deaths, then say "deaths" not "people". </p>\n', 227039, None, 0, None, None, '2019-01-22 15:48:47', None, None, 0, 11, 0, None, None, 572),
 (431370, 1, 431397, 0, '2019-10-14 11:29:21', 77, 11723, '<p>It seems very counter intuitive to many people that a given diagnostic test with very high accuracy (say 99%) can generate massively more false po ... (520 characters truncated) ... lp me explain it to a lay person.</p>\n\n<p>Apologies if this is the wrong forum to ask this. If so please direct me to a more appropriate one.</p>\n', 262594, None, 11887, None, '2019-11-28 01:44:34', '2019-11-28 01:44:34', 'Is there a name for the phenomenon of false positives counterintuitively outstripping true positives', '<probability><terminology><intuition>', 8, 9, 18, None, None, 811)]

What are the 5 most frequent scores on posts?

In [ ]:
%%sql
SELECT Score, COUNT(Score) AS 'Count'
FROM posts
GROUP BY Score
ORDER BY Count DESC
LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(0, 19888), (1, 11867), (2, 5094), (3, 2228), (4, 1059)]

How many posts have the keyword "data" in their tags?

In [ ]:
%%sql
SELECT COUNT(*) AS 'Number of Posts that have "data" in their tags'
FROM posts
WHERE Tags LIKE '%data%'

 * sqlite:///chatdata.db
Done.

[(2242,)]

What are the 5 most frequent commentcount for posts?

In [ ]:
%%sql
SELECT CommentCount, COUNT(CommentCount) AS 'Count'
FROM posts
GROUP BY CommentCount
ORDER BY Count DESC
LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(0, 21713), (1, 6460), (2, 4966), (3, 3063), (4, 2026)]

How many posts have an accepted answer?

In [ ]:
%%sql
SELECT COUNT(*)
FROM posts
WHERE AcceptedAnswerId > 1

 * sqlite:///chatdata.db
Done.

[(5341,)]

What is the average reputation of table users?

In [ ]:
%%sql
SELECT AVG(Reputation) AS 'Average Reputation of Users'
FROM users

 * sqlite:///chatdata.db
Done.

[(312.3509124484032,)]

What are the min and max reputation of users?

In [ ]:
%%sql
SELECT MIN(Reputation),
MAX(Reputation)
FROM USERS

 * sqlite:///chatdata.db
Done.

[(1, 228662)]

What is the length of the body of 5 most viewed posts?

In [ ]:
%%sql
SELECT ViewCount, LENGTH(Body)
FROM posts
ORDER BY ViewCount DESC
LIMIT 5

 * sqlite:///chatdata.db
Done.

[(19542, 2270), (16317, 512), (11723, 811), (9850, 2148), (6718, 1172)]

How many different locations are there in the users table?

In [ ]:
%%sql
SELECT COUNT(DISTINCT Location)
FROM users

 * sqlite:///chatdata.db
Done.

[(1900,)]

What are the top 5 locations of users?

In [ ]:
%%sql
SELECT Location AS 'Top 5 locations of Users', COUNT(Location)
FROM users AS u1
GROUP BY Location
ORDER BY
(SELECT COUNT(Location)
FROM users AS u2
WHERE u1.Location = u2.Location) DESC
LIMIT 5

 * sqlite:///chatdata.db
Done.

[('Germany', 117),
 ('India', 100),
 ('United States', 69),
 ('Paris, France', 66),
 ('London, United Kingdom', 63)]

In [ ]:

#Test
#SELECT Location, COUNT(Location) AS UserCount
#FROM users
#GROUP BY Location
#ORDER BY UserCount DESC
#LIMIT 5;

Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.

In [ ]:
%%sql
WITH DayViewCounts AS (
    SELECT
        SUM(ViewCount) AS TotalViewCount,
        CASE CAST(strftime('%w', CreationDate) AS INTEGER)
        WHEN 0 THEN 'Sunday'
        WHEN 1 THEN 'Monday'
        WHEN 2 THEN 'Tuesday'
        WHEN 3 THEN 'Wednesday'
        WHEN 4 THEN 'Thursday'
        WHEN 5 THEN 'Friday'
        WHEN 6 THEN 'Saturday'
        END AS DayOfWeek,
    FROM posts
    GROUP BY DayOfWeek
)

SELECT
    DayOfWeek,
    TotalViewCount,
    (TotalViewCount * 100.0 / SUM(TotalViewCount) OVER ()) AS 'PercentageOfTotal'
FROM DayViewCounts
ORDER BY PercentageOfTotal DESC;

 * sqlite:///chatdata.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: WITH DayViewCounts AS (
    SELECT
        SUM(ViewCount) AS TotalViewCount,
        CASE CAST(strftime('%w', CreationDate) AS INTEGER)
        WHEN 0 THEN 'Sunday'
        WHEN 1 THEN 'Monday'
        WHEN 2 THEN 'Tuesday'
        WHEN 3 THEN 'Wednesday'
        WHEN 4 THEN 'Thursday'
        WHEN 5 THEN 'Friday'
        WHEN 6 THEN 'Saturday'
        END AS DayOfWeek,
    FROM posts
    GROUP BY DayOfWeek
)

SELECT
    DayOfWeek,
    TotalViewCount,
    (TotalViewCount * 100.0 / SUM(TotalViewCount) OVER ()) AS 'PercentageOfTotal'
FROM DayViewCounts
ORDER BY PercentageOfTotal DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

# Task 3: Cross Table Queries

## Lifecycle Stage: Analyze
Let's continue the analysis with our multi-table queries.

### Cross Table Queries

From the Template SQL Queries there are a series of queries requested. You are responsible for coding the result. Use the pattern above to accomplish the coding objective.  Copy and paste the question (column B Action) into a markdown cell and answer the query. Use the pattern that you have been using above.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter your code below.  Just keep on inserting cells as you need them.
    </font></div>

How many posts have been created by a user that has a filled out the "AboutMe" section?

In [ ]:
%%sql
SELECT COUNT(*) AS 'Posts created by a user that has a filled out the "AboutMe" section'
FROM posts
INNER JOIN
users
ON posts.OwnerUserId = users.Id
WHERE users.AboutMe IS NOT NULL AND users.AboutMe <> " "

 * sqlite:///chatdata.db
Done.

[(17189,)]

Considering only the users with an "AboutMe," how many posts are there per user?

In [ ]:
%%sql
SELECT COUNT(*) / (SELECT CAST(COUNT(*) AS FLOAT) FROM USERS WHERE ABOUTME !='') AS posts_per_user
    FROM POSTS P
    JOIN USERS U ON P.OWNERUSERID = U.ID
    WHERE U.ABOUTME !=''

 * sqlite:///chatdata.db
Done.

[(4.274807261875155,)]

Not taking into account the commentcount field in the table posts, what are the Top 10 posts in terms of number of comments?

In [ ]:
%%sql
SELECT posts.Id AS 'PostsID', COUNT(comments.Id) AS 'CommentCount'
FROM posts
INNER JOIN comments
ON posts.Id = comments.PostId
GROUP BY posts.Id
ORDER BY CommentCount DESC
LIMIT 10

 * sqlite:///chatdata.db
Done.

[(386853, 66),
 (386556, 34),
 (418910, 31),
 (395232, 31),
 (402987, 27),
 (386075, 26),
 (394118, 24),
 (402950, 23),
 (398828, 23),
 (396111, 22)]

What are the Top 10 posts which have the highest cummulative (post score + comment score) score?

In [ ]:
%%sql
SELECT posts.Id AS 'PostID', (posts.score + SUM(comments.score)) AS 'CummulativeScore'
FROM posts
JOIN comments
ON posts.Id = comments.PostId
GROUP BY posts.Id, posts.score
ORDER BY CummulativeScore DESC
LIMIT 10

 * sqlite:///chatdata.db
Done.

[(394118, 306),
 (394128, 169),
 (388578, 141),
 (398653, 111),
 (388566, 101),
 (398646, 99),
 (421677, 96),
 (420526, 92),
 (400317, 72),
 (388582, 69)]

Who are the top 10 users who comment the most?

In [ ]:
%%sql
SELECT COUNT(*) AS N, C.USERID, U.REPUTATION
    FROM COMMENTS C
    JOIN USERS U ON U.ID = C.USERID
    GROUP BY C.USERID , U.REPUTATION
    ORDER BY U.REPUTATION DESC LIMIT 10

 * sqlite:///chatdata.db
Done.

[(1153, 805, 228662),
 (3301, 919, 223056),
 (370, 7290, 115531),
 (349, 686, 85077),
 (158, 28666, 75024),
 (470, 35989, 71548),
 (424, 7224, 65999),
 (255, 4253, 59952),
 (422, 1352, 59160),
 (467, 22311, 51155)]

Who are the top 10 users who post the most?

In [ ]:
%%sql
SELECT COUNT(*) AS N, P.OWNERUSERID, U.REPUTATION
    FROM POSTS P
    JOIN USERS U ON U.ID = P.OWNERUSERID
    GROUP BY P.OWNERUSERID , U.REPUTATION
    ORDER BY  U.REPUTATION DESC LIMIT 10

 * sqlite:///chatdata.db
Done.

[(230, 805, 228662),
 (203, 919, 223056),
 (35, 7290, 115531),
 (386, 686, 85077),
 (8, 28666, 75024),
 (230, 35989, 71548),
 (233, 7224, 65999),
 (71, 4253, 59952),
 (285, 1352, 59160),
 (140, 22311, 51155)]

# Task 4: Check the Queries Table

Now let's tidy up and check the queries table.

First let's check it's contents:

In [ ]:
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 2', 'Create table posts', '\n CREATE TABLE "posts" (\n"Id" INTEGER,\n"PostTypeId" INTEGER,\n"AcceptedAnswerId" INTEGER,\n"ParentId" INTEGER,\n"CreationDate" TEXT,\n"Score" INTE ... (209 characters truncated) ... EXT,\n"Tags" TEXT,\n"AnswerCount" INTEGER,\n"CommentCount" INTEGER,\n"FavoriteCount" INTEGER,\n"ClosedDate" TEXT,\n"CommunityOwnedDate" TEXT\n)\n    '),
 ('Task 3', 'Create table users', '\nCREATE TABLE "users" (\n"Id" INTEGER,\n"Reputation" INTEGER,\n"CreationDate" TEXT,\n"DisplayName" TEXT,\n"LastAccessDate" TEXT,\n"WebsiteUrl" TEXT,\n"Location" TEXT,\n"AboutMe" TEXT,\n"Views" INTEGER,\n"UpVotes" INTEGER,\n"DownVotes" INTEGER,\n"ProfileImageUrl" TEXT,\n"AccountId" INTEGER\n)\n '),
 ('Task 4', 'Count number of rows in comments table', '\nSELECT COUNT(*) AS "Number of rows in Comments table" FROM comments\n'),
 ('Task 5', 'Count number of rows in users table', '\nSELECT COUNT(*) AS "Number of rows in Users table" FROM users\n'),
 ('Task 6', 'Count number of rows in posts table', '\nSELECT COUNT(*) AS "Number of rows in Posts table" FROM posts\n'),
 ('Task 7', 'Select 5 random rows from Posts table', '\nSELECT * FROM Posts ORDER BY RANDOM() LIMIT 5\n'),
 ('Task 8', 'Select 5 random rows from Comments table', '\nSELECT * FROM Comments ORDER BY RANDOM() LIMIT 5\n'),
 ('Task 9', 'Select 5 random rows from Users table', '\nSELECT * FROM Users ORDER BY RANDOM() LIMIT 5\n')]

## Drop Duplicates

You likely have some duplicates. Lets drop them.

In [ ]:
# Read the queries table into pandas
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)

# Drop duplicates
queries.drop_duplicates(inplace = True) # drop duplicates

## Case Issues

Remember, SQL is case insensitive. Pandas IS case sensitive. Lets deal with this now by making all of the text uppercase.

In [ ]:
for col in queries.columns:
    queries[col] = queries[col].str.upper()

queries

,task,action,query
0,SINGLE TABLE QUERIES,WHICH 5 USERS HAVE VIEWED THE MOST TIMES AND W...,"\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n FRO..."
1,TASK 1,CREATE TABLE COMMENTS,"\n CREATE TABLE ""COMMENTS"" (\n ""ID"" INTE..."
2,TASK 2,CREATE TABLE POSTS,"\n CREATE TABLE ""POSTS"" (\n""ID"" INTEGER,\n""POS..."
3,TASK 3,CREATE TABLE USERS,"\nCREATE TABLE ""USERS"" (\n""ID"" INTEGER,\n""REPU..."
4,TASK 4,COUNT NUMBER OF ROWS IN COMMENTS TABLE,"\nSELECT COUNT(*) AS ""NUMBER OF ROWS IN COMMEN..."
5,TASK 5,COUNT NUMBER OF ROWS IN USERS TABLE,"\nSELECT COUNT(*) AS ""NUMBER OF ROWS IN USERS ..."
6,TASK 6,COUNT NUMBER OF ROWS IN POSTS TABLE,"\nSELECT COUNT(*) AS ""NUMBER OF ROWS IN POSTS ..."
7,TASK 7,SELECT 5 RANDOM ROWS FROM POSTS TABLE,\nSELECT * FROM POSTS ORDER BY RANDOM() LIMIT 5\n
8,TASK 8,SELECT 5 RANDOM ROWS FROM COMMENTS TABLE,\nSELECT * FROM COMMENTS ORDER BY RANDOM() LIM...
9,TASK 9,SELECT 5 RANDOM ROWS FROM USERS TABLE,\nSELECT * FROM USERS ORDER BY RANDOM() LIMIT 5\n

In [ ]:
# Write the now deduped uppercase dataframe back to sqlite and replace the table
queries.to_sql('queries', con, if_exists='replace', index=False)

10

## Use Case

Now that we have this queries table, lets give you some ideas about how you would use it.

Suppose you wanted to find all of the queries where you did a GROUP BY:

In [ ]:
%%sql
SELECT query
    FROM queries
        WHERE query LIKE '%GROUP BY%'

 * sqlite:///chatdata.db
Done.

[('\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n    FROM USERS\n        GROUP BY ID\n            ORDER BY TOTALVIEWS DESC\n                LIMIT 5\n                ',)]

## Now Your Turn
Find the queries that have 'DISTINCT' in them. You can do it with the %sql command or with Pandas and sql.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [ ]:
%%sql
SELECT query
FROM queries
WHERE query LIKE '%DISTINCT%'

 * sqlite:///chatdata.db
Done.

[]

# Close SQLite

It is good practise to close all relational databases as soon as you are finished updating them.

In [ ]:
con.close()

# All Done!

Great job. You now have a good idea for how to use sql and pandas with sql. You can create your own databases from csv files and you can do extensive querying using sql. These are valuable skills that will take you a long ways in todays technological world.